.habitHeader {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.divCenter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.habitPageButton {
    background-color: #bab4ca;
    border-radius: 10px;
    border: 2px solid #231942;
    box-shadow: 0 0 0 0 inset;
    box-sizing: border-box;
    color: #231942;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
        sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.15385;
    margin-bottom: 10px;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.habitPageButton:hover,
.habitPageButton:focus {
    background-color: #8479a5;
    color: #231942;
}

.habitPageButton:active {
    background-color: #5e5183;
    box-shadow: none;
    color: #231942;
}


.NftBox{
    width: 100%
}
.NftBox,
.NftImage {
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: middle;
    border: min(1vw, 5px) solid transparent;
    
}

.NftBox:hover {
    background: #8479a5;
    border: min(1vw, 5px) solid #231942;
}

.NftBox:hover .NftImage {
    background: #8479a5;
}

.NftBoxTextDiv {
    display: flex;
    justify-content: center;
}

.NftBoxLink {
    text-decoration: none;
}

.NftBoxContainer:hover, .NftBoxContainer:focus {
    transition: transform 0.3s;
    cursor: pointer;
    transform: scale(1.07);
    border-radius: 25px;
    transition: transform 0.35s;
}

