.NftFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0vw 40vw;
  gap: 10vw;
}

.Welcome {
  color: black;
  text-align: center;
}

.Title {
    color: black;
    text-align: center;
}