@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&display=swap');

.NftBox {
    max-width: 292px;
    max-height: 415px;
    width: 40vw;
    background: #231942;
    border-radius: 25px;
}

.NftImage {
    max-width: 292px;
    max-height: 283px;
    width: 40vw;
    background: #231942;
    border-radius: 25px;
}

.NftBoxText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 1000;
    font-size: min(3vw, 24px);
    line-height: 30px;
    padding: 5px 10px;
    text-align: middle;
    color: rgba(255, 255, 255, 0.8);
}

.NftBox:hover,
.NftImage:hover {
    background: #8479a5;
}

.NftBoxTextDiv {
    display: flex;
    justify-content: center;
}

.NftBoxLink {
    text-decoration: none;
}

.NftBoxLink:hover {
    cursor: pointer;
}
