.Title {
    color: black;
    text-align: center;
}

.FormContent {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
    gap: 25px;
}

.HabitInput {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}