.Title {
    color: black;
    text-align: center;
}

.FormContent {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.HabitInput {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 28px;
    max-height: 200px;
    width: 25vw;
    overflow: scroll;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.HabitInput::placeholder {
    color:rgb(75, 75, 75)
}

.OuterBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px;
}

.InnerBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonText {
    background-color: #bab4ca;
    border-radius: 10px;
    border: 2px solid #231942;
    box-shadow: 0 0 0 0 inset;
    box-sizing: border-box;
    color: #231942;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
        sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.buttonText:hover,
.buttonText:focus {
    background-color: #8479a5;
    color: #231942;
}

.buttonText:active {
    background-color: #5e5183;
    box-shadow: none;
    color: #231942;
}
