.header {
    color: green;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.image {
    width: 292px;
    height: 283px;
    border-radius: 25px;

  }
.imagewrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}