.header {
    color: #231942;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.image {
    width: 292px;
    height: 283px;
    border-radius: 25px;

  }
.imagewrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
  background-color: #bab4ca;
  border-radius: 10px;
  border: 2px solid #231942;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #231942;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #8479a5;
  color: #231942;
}

.button:focus {
  box-shadow: 0 0 0 4px #231942;
}

.button:active {
  background-color: #231942;
  box-shadow: none;
  color: #231942;
}